body {
    background: url('programmer.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(3px);
    color: white;
}
/* cuadros o Card con fondo blur */
.card {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}